/* Footer.css */
footer {
  font-family: 'Honey Script', cursive;
  background: #FCD667;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000; 
  transition: background-color 0.3s ease;
}


footer.ice-cream {
  background-color: #f8d7da; 
}

footer.bakery {
  background-color: #cce5ff; 
}

footer.gift-shop {
  background-color: #d4edda; 
}
