
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Honey Script', cursive !important; 
}

.AboutUs-background {
  background-color: #cce5ff; 
}

.AboutUs-responsive-container-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AboutUs-bigContainer {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  
  
}

.AboutUs-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1420px;
  margin: 80px auto;
  
}

.AboutUs-leftSide {
  max-width: 300px;
  font-family: 'Honey Script', cursive !important;
  text-align: center;
}

.AboutUs-rightSide {
  width: 675px;
  position: relative;
  height: 700px;
  display: flex;
}

.AboutUs-text-blk {
  color: rgb(0, 0, 0);
  margin-bottom: 40px;
}

.AboutUs-heading {

  font-weight: 900;
  font-size: 40px;
  line-height: 64px;
  color: #00B2EB;
}

.AboutUs-subHeading {

  font-size: 14px;
  line-height: 25px;
}

.AboutUs-number1img,
.AboutUs-number2img,
.AboutUs-number3img,
.AboutUs-number5img,
.AboutUs-number6img,
.AboutUs-number7img {
  position: absolute;
}

.AboutUs-number1img {
  margin-top: 39%;
  margin-right: 70%;
  width: 20%;
  height: 32%;
}

.AboutUs-number2img {
  margin-top: 19%;
  margin-right: 10%;
  width: 35%;
  height: 39%;
}

.AboutUs-number3img {
  width: 13%;
  height: 21%;
  margin-top: 62%;
  margin-right: 32%;
}

.AboutUs-number4vid {
  width: 34%;
  height: 33%;
  margin-top: 62%;
  margin-left: 20%;
}

.AboutUs-number5img {
  width: 13%;
  height: 21%;
  margin-top: 38%;
  margin-left: 42%;
}

.AboutUs-number6img {
  width: 35%;
  height: 20%;
  margin-top: 15%;
  margin-left: 64%;
}

.AboutUs-number7img {
  width: 25%;
  height: 50%;
  margin-top: 40%;
  margin-left: 85%;
}

@media (max-width: 1261px) {
  .AboutUs-leftSide {
margin-top: -150px;

margin:0 auto;
  }
  
  .AboutUs-number1img {
    margin-top: 39%;
    margin-right: 80%;
    width: 20%;
    height: 26%;
  }
  
  .AboutUs-number2img {
    margin-top: 19%;
    margin-right: 30%;
    width: 25%;
    height: 30%;
  }
  
  .AboutUs-number3img {
    width: 13%;
    height: 21%;
    margin-top: 62%;
    margin-right: 42%;
  }
  
  .AboutUs-number4vid {
    width: 34%;
    height: 33%;
    margin-top: 62%;
    margin-left: 10%;
  }
  
  .AboutUs-number5img {
    width: 20%;
    height: 20%;
    margin-top: 33%;
    margin-left: 20%;
  }
  
  .AboutUs-number6img {
    width: 35%;
    height: 20%;
    margin-left: 35%;
    margin-top: 20px;
  }
  
  .AboutUs-number7img {
    width: 25%;
    height: 50%;
    margin-top: 35%;
    margin-left: 75%;
  }
}

@media (max-width: 1024px) {
  .AboutUs-Container {
    display: flex;
    flex-direction: column-reverse; /* Flips the order of the children */
    align-items: center;
    position: relative;
  }

  .AboutUs-leftSide {
    width: 100%;
    max-width: 600px; 
    margin: 0px auto 0 auto; 
    position: relative;
    z-index: 10;
  }

  .AboutUs-rightSide {
    margin-top: 0; /* Remove the large top margin */
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }

  .AboutUs-number1img {
    margin-top: 50%; 
    margin-right: 80%;
    width: 20%;
    height: 26%;
  }

  .AboutUs-number2img {
    margin-top: 30%; 
    margin-right: 30%;
    width: 25%;
    height: 30%;
  }

  .AboutUs-number3img {
    margin-top: 65%; 
    margin-right: 42%;
    width: 13%;
    height: 21%;
  }

  .AboutUs-number4vid {
    margin-top: 65%; 
    margin-left: 10%;
    width: 34%;
    height: 33%;
  }

  .AboutUs-number5img {
    margin-top: 40%; 
    margin-left: 20%;
    width: 20%;
    height: 20%;
  }

  .AboutUs-number6img {
    margin-top: 30%; 
    margin-left: 35%;
    width: 35%;
    height: 20%;
  }

  .AboutUs-number7img {
    margin-top: 40%; 
    margin-left: 75%;
    width: 25%;
    height: 50%;
  }
}
@media (max-width: 1024px) {
  .AboutUs-Container {
    flex-direction: column-reverse;
  }
  .AboutUs-leftSide {
    align-items: center;
    max-width: 580px;
  }
  .AboutUs-rightSide {
    width: 100%;
    margin-bottom: 100px;
  }
  .AboutUs-heading {
    text-align: center;
    max-width: 370px;
  }
  .AboutUs-subHeading {
    text-align: center;
  }



  /* images */
  .AboutUs-number1img {
    margin-top: 19%;
    margin-right: 100%;
    width: 20%;
    height: 36%;
  }
  
  .AboutUs-number2img {
    margin-top: 1%;
    margin-right: 50%;
    width: 25%;
    height: 39%;
  }
  
  .AboutUs-number3img {
    width: 25%;
    height: 29%;
    margin-top: 42%;
    margin-right: 50%;
  }
  
  .AboutUs-number4vid {
    width: 30%;
    height: 33%;
    margin-top: 55%;
    margin-right: 0%;
  }
  
  .AboutUs-number5img {
    width: 30%;
    height: 28%;
    margin-top: 23%;
    margin-left:10%;
  }
  
  .AboutUs-number6img {
    width: 45%;
    height: 30%;
    margin-left: 25%;
    margin-top: -40px;
  }
  
  .AboutUs-number7img {
    width: 40%;
    height: 50%;
    margin-top: 25%;
    margin-left: 85%;
  }
  
}

@media (max-width: 1023px) {
  .AboutUs-rightSide {
    width: 450px;
    height: 450px;
  }
  .AboutUs-leftSide {
    max-width: 450px;
  }
}

@media (max-width: 600px) {
  .AboutUs-number1img {
    margin-top: 29%;
    margin-right: 100%;
    width: 15%;
    height: 26%;
  }
  
  .AboutUs-number2img {
    margin-top: 5%;
    margin-right: 65%;
    width: 15%;
    height: 30%;
  }
  
  .AboutUs-number3img {
    width: 10%;
    height: 23%;
    margin-top: 38%;
    margin-right: 69%;
  }
  
  .AboutUs-number4vid {
    width: 20%;
    height: 32%;
    margin-top: 49%;
    margin-right: 42%;
  }
  
  .AboutUs-number5img {
    width: 15%;
    height: 20%;
    margin-top: 26%;
    margin-right:35%;
  }
  
  .AboutUs-number6img {
    width: 19%;
    height: 20%;
    margin-right: 50%;
    margin-top: 10px;
  }
  
  .AboutUs-number7img {
    width: 17%;
    height: 40%;
    margin-top: 27%;
    margin-right: 65%;
  }
  
}
@media (max-width: 600px) {
  .AboutUs-number1img,
  .AboutUs-number2img,
  .AboutUs-number3img,
  .AboutUs-number5img,
  .AboutUs-number6img,
  .AboutUs-number7img {
    display: none;
  }
  .AboutUs-rightSide {
    width: 100%;
    height: 250px;
    margin-bottom: 100px;
  }
  .AboutUs-number4vid {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .AboutUs-heading {
    font-size: 25px;
    line-height: 40px;
  }
  .AboutUs-subHeading {
    font-size: 14px;
    line-height: 25px;
    margin-top: -20px;
  }
  .AboutUs-leftSide {
    width: 100%;
    margin-top: -90px;
    padding-bottom: 50px;
  }
}
