.stripe-header {
  top: 0;
  text-align: center;
  background-color: #d4edda; 
  padding: 20px 0;
  margin-bottom: 60px;
}

.stripe-header p {
  margin: 0; 
}

.stripe-header a {
  text-decoration: none;
  color: #007bff; 
}

.stripe-header a:hover {
  text-decoration: underline;
}