.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh !important;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 0; 
  background-image: url('../Hero/HeroImg/LPImage.png');
  background-size: cover;
  background-position: center;
}

.hero-content {
  text-align: center;
  color: black;
  position: relative;
  z-index: 1;
  padding: 20px;
  background-color: #cce5ffd0; 
  border-radius: 50px;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-description {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.hero-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  background-color: #ff6347;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.hero-button:hover {
  background-color: #e5533d;
}

@media (min-width: 1790px) {
  .hero-container {
    margin-top: 0;
  }
}

@media (max-width: 1789px) {
  .hero-container {
    position: relative;
  }
}

@media (max-width: 1205px) {
  .hero-container {
    height: auto; 
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-description {
    font-size: 1.3rem;
  }

  .hero-button {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .hero-container {
    height: 100vh;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-description {
    font-size: 1.2rem;
  }

  .hero-button {
    font-size: 0.9rem;
  }
}
