@import 'leaflet/dist/leaflet.css';

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
margin-top: 100px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;

}
.maptitle{

  text-align: center;
}
.address-container {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px; 
  max-width: 300px;

}

.map {
  border: 1px solid #ccc; 
  width: 100%; 
  height: 300px; 
}
.social-media {
  margin-top: 10px;
  text-align: center;

}

.social-media a {
  margin: 0 10px;
  color: #000; /* Adjust color as needed */
  text-decoration: none;
}

.social-media a:hover {
  color: #007bff; /* Adjust hover color as needed */
}
@media (min-width: 768px) {
  .map-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 100px;
  }

  .address-container {
    text-align: left;
    margin-bottom: 0;
    margin-right: 20px;
 
  }
  .maptitle{margin-top: 50px;}
  .map {
    
    width: 500px; 
    height: 400px; 
}
}

@media (max-width: 767px) {
  .map-container {
    margin-top: 50px;
    padding-bottom: 85px; 
  }

  .address-container {
    font-size: 20px;
  }

  .map {
    height: 350px; 
  }
}
